language: rust

rust:
  - stable
  - beta
  - nightly

services:
  - docker

jobs:
  allow_failures:
  - rust: nightly
  fast_finish: true

deploy:
  provider: script
  script: bash docker_push
  on:
    branch: master
    rust: stable

env:
  global:
  - secure: kkv3zxeAmq50s2jhL4n41S6BiPR/p9foLADpb8eRvEkr8x1kzAmc7hCrTzRJ/B+5S5cDQ4VoRjxyWG6Qqfhq5dqW9xh51SVst8VcuDi8r1EMz0ncX8hcKzqr75so4p22Ym7YGJkKGNwDMy2mHIjUQc1pIJvB96TSBwoxP0kGRUhsD/3sNDlagzGRhpSoClWxzmPxPiJPfbtjdQi4rvX7em8kE+mMPvhfMS7ebkTGlHgKW4w7NU3RRVREU93LZFGlCIj5qxjVu3c5axYXijBAFj/uMApJx2kan+tFpIZ3/Zp7AB1wIemI0yoiS0MNfBVg9OhnTHvRkXf6wTt8o/Jdt13rrVtgb2BEXy4fjyC45P/yZekNq1Nnlu/8PR63a2q+Dn+tcj3Ck3AEcXcQxdIzYX1I7XLSrVxo9w+Fkf7wVN1RhzDwrgYV4dxybq1qbHEUbqxc6pgY4spV9aYYGCXhwt6SpwXWoG11p18rQDfPWbSKEjkpyezpSQRmqvaSrIwjjaaoaMPUuBXWKumIY1OOhp/dWAzPvVnux1KcpP5vtZ4PlVOjU5+wGCCGX8TMOE6VmhPDGz20ioOW4CF9IiT3xiCvtcHCvjVz4U/yksyAUOkpkh5nNX4yBLU8qC1oKRkrq1tZsIZCYVVEW18HRab9lWIhHcGsUM4LSv08rNPT63w=
  - secure: Ur9KYEIr54w7t0kzzK2JEimHQEUZ7zIo7l+S3PQvupfFbn7WwwvMUifUbigUoC6sf337ZIOg5niF4cdo3KlOsVew1XmEZw6xdu0Dqdtj1JE6SjAzYrXJ5DazSDYiRfggT77/CzK/YEPWOk67QaAImi5QHNY01uPeHqRxqTOuTVb1F24QFdKPZ/XGAM5Jgulto+0tK2/qi5MD8oDoEzgv4qziAx4vJrTt/yuC9BWhRg9Hyb+CHZIunGgSGIoRzOVdEeoH+9pQbShdv4vcOayM/cfmOcYyisGHmAahp3HH0v6WKu+2F7OqciFBWoAcKPjj7WnevGB9IEyTKCM5rnAHBBUIuiIFAxAkj/s8zrXBOL3e7oI/dpVGXp184pPcsSNk7v/q241Dbf0sWOV67OBJlF0k9k3w0EKw6UuncQXGZw5rF3kq/ZKl7YGJJrLNOjiTXx30myT4PsDaDZ3KD78EfdZZceMaMjdCHwfrFTGGk5j1CGBU0KFs1lLE8X6q0ragSceQE+HbvD0mdFKgXeTatS9hSwRyBiEOeDFmv2RQATd8qSdOJi92vihPx9ypPVMEOF5YxsMWhuwhqlqGXt4imgzfSGM6jR50IiPmcAdZqq0ZZDnZ3H+SR1WvF3MJdOm3F+kxHE1/Q+nmCd0AED1abcYu268c3AScnOWaavsEGPY=
  - secure: hGhgLSNcFUn/lToc9uGESBaeG9ifhm/C2U2b7yB03jiJgJ8MzgzLwazuG1I7ia+mhythBB/TEuo6oDk1oWby3NgTEBfWHhDkxtGiTJXT8zY0p/VF7vNYJtgQYkHThjwKiLQgzYJ3JG4+fVJ1OjT8jFgMp+F97KVVPDXx/BW99jcz2hHdr6UwisD3oqKWv9gFZ+X3UgFbxK2Kq3BcErMygwE5mC4GHt9yiADOHKy7niZpaYLFJvViNFLeh5YJnKL4ieG8dAqc6qwF7Ym5wLoDIyG709Yxr4jDt0IRg8mhEnRvJKnIpQpGG/j9bmRdoktE1YR3VwS/pP978QyctFmvcFnbtI7x6VQ43gnXxbKxXWmTOuCyqRrFoBgg5YFfxvNDIwJoKOYEy8+0E19ngZxPAKJ7qydAHsdg519CXLwpFQQ2iFQkDGYk+DuRShscGBPGxYGHC53oxTAsHGOMcVOddO/rAgITNa3Pqy85ORHUrwZ/2aF0ReiTBygpcy01tX1rmWNvMh6Dg8Soou8OoL6rl54XEb/2EZKX+aYpTmMcdm4kXOyEE6TLsX+pVhe9ktHkImgOKYUVEkkcTpRJjtvb12g/OM1KctMqHmCLMK/JXS5URPo1ikAeCO8K9nitm3r6dABjJ02ytmerE1/PSGCJPrqB26jMOCRgW/1w9+WjUbk=
