version: '3.1'

services:

  redis:
    image: redis:5.0-alpine

  web:
    build: 
      context: .
      dockerfile: Dockerfile.debug
    restart: always
    ports:
      - 8080:$PORT
    environment:
      REDISCLOUD_URL: redis://redis:6379